/*--------------------------------------
Author: Bharathkumar Gunasekaran
Email: bharath@ischool.berkeley.edu
Created: 10/03/2012
Description: Stylesheet for Project 2
----------------------------------------*/


body {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: small;
background: #fff;
background-color:#A9A9A9;
margin-left: 5%;
margin-right: 5%;
border: auto;
padding: 10px 10px 10px 10px;
}

#map { 
    width: 900px; 
	height: 550px;
    margin: auto; 
	background: white; 
    -moz-box-shadow: 0 0 20px black; 
    -webkit-box-shadow: 0 0 20px black; 
    box-shadow: 0 0 20px black; 
	border-radius: 11px;
}
#filterTags { border: auto; padding: 20px; }

.tag
{
    border-width: thin;
    border-style: outset;
    border-color: #BEBEBE;
    margin: 3px;
    display: inline-block;  
    border-radius: 3px 3px 3px 3px;
    padding: 1px;
}


.tags:hover, .close:hover
{
    background: #F0EAD6;
    cursor: pointer;

}

.tags
{
    border-right-width: thin;
    border-right-color: black;
    background: #C0C0C0;
}

.close
{

     background: #F0EAD6;
}

#container
{
    text-align:center;
    margin: 10px auto 10px auto;
    width:940px;
}

#header
{
    text-align:center;
    margin: 10px auto 10px auto;
}


.info {

    text-align: left;
    width: 280px;
    font-size: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 11px;

}
#div0{
    border-width: thin;
    border-style: inset;
    border-color: #BEBEBE;
    height:100px;
    overflow:auto;

}
#div1{
    float: left;
}
#div2{
    float: right;
}
#div3{
    float: right;
    clear: :left;
}
